#table{
    border-collapse: collapse;
    width: 100%;
}

#table td {
    padding: 8px;
}

#table th {
    border-bottom: 2px solid rgb(209, 209, 209);
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: #4685bd;
    text-transform: uppercase;
    font-weight: normal;
}

#table tr:nth-child(odd){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

.blue {
    font-weight: bold;
    color: #4685bd;
}

.red {
    font-weight: bold;
    color: #b15856; 
}

.green {
    font-weight: bold;
    color: #457c47
}