.app{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 20px;

  width: 100vw;
  height: 100vh;

  background-color:ghostwhite;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}